
@{
    ViewBag.Title = "Buy";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Покупка</title>
</head>
<body>
    <div>
        <h3>Оформления покупки</h3>
        <form>
            <div class="form-group">
                <label>Имя</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Адрес</label>
                <input type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</body>
</html>

